.top_section {
    position: relative;
    margin-left: 500px;
    color: black;
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
}

.top_section header {
    color: rgb(244,243,234)
}

.top_section img {
    border: 3px solid;
    border-radius: 50%;
}

.top_section_background img {
    position: absolute;
    height: 350px;
    width: 100%;
}

nav {
    margin-top: 40px;
    font-size: 24px;
}

nav ul {
    list-style: none;
    background-color:#BB000E;
}

nav li {
    display: inline;
    padding-left: 100px;
    margin: 75px;
}

nav a {
    text-decoration: none;
    color: rgb(203,208,216);
}
nav a:hover {
    text-decoration: none;
    color: #E31C25;
}

main {
    margin-top: -10px;
    background-color: #1C1C1C;
}

.about_me {
    width: 500px;
    font-size: 25px;
    border: 4px solid #111111;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: 350px;
    color: white;
}

.bloom_landing_project {
    margin-top: 10px;
    margin-left: 70px;
    width: 835px;
    border: 3px solid black;
    background-color: #E31C25;
    /* border-left-width: 50px; */
    /* border-right-width: 200px; */
    
}

.bloom_landing_project img {
    margin-left: -15px;
    width: 400px;
    height: 300px;
}

.venedor_project {
    margin-top: 20px;
    background-color: #E31C25;
    width: 835px;
    margin-left: 70px;
    border: 3px solid black;
}

.venedor_project img {
    width: 430px;
    height: 300px;
    margin-left: -200px;
}

.detroix_project {
    margin-top: 20px;
    width: 835px;
    background-color: #E31C25;
    border: 3px solid black;
    margin-left: 70px;
}

.detroix_project img {
    width: 400px;
    height: 300px;
    margin-left: -15px;
}

footer {
    /* margin-top: 20px; */
    background-color: #1C1C1C;
}

.contact_info ul {
    list-style: none;
}

.contact_info li {
    /* display: inline; */
    color: #BB000E;
}

.social_media {
    /* float: right; */
}

.social_media ul {
    list-style: none;
}

.social_media li {
    display: inline;
    /* margin-bottom: 15px; */
}